form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

form .form__rows {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form .form__rows div {
    display: flex;
    flex: 1;
    flex-direction: column;
}

form .form__rows input[type=text] {
    height: 3rem;
    border-radius: 5px;
    background-color: #f0f0f0;
    width: 100%;
    margin-bottom: 1rem;
    min-width: 15rem;
}

form .form__rows input[type=text]:focus,
input[type=text]:active {
    appearance: none;
    border: rgb(167, 41, 89);
}

#add-game {
    font-size: 1.2rem;
    font-weight: bold;
    width: min-content;
    padding: 0.6rem 2rem;
    background-color: rgb(167, 41, 89);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 1rem;
}

.games-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    flex: 1;
}

.games-container__card {
    background-color: #D9D9D9;
    color: black;
    min-width: 15rem;
    padding: 1rem;
    flex: 1;
}

@media only screen and (min-width: 600px) {
    form .form__rows {
        gap: 2rem;
    }
}